
.greeting{
  color: rgb(51, 2, 2);
  font-size: 25px;
}
a{
  text-decoration: none;
}

nav a{
 padding-left: 30px;
}
.web-title{
  color:rgb(68, 31, 31,0.5);
  font-family:system-ui;
  font-size:4rem;
  -webkit-text-stroke: 1px rgb(48, 2, 75);
  font-weight:bold

}